In [2]:
# multilayer perceptron imports
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import pandas_profiling
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [41]:
# load the cleaned data 
X = pd.read_csv('airbnb_cleaned_2.csv')

In [42]:
X.drop(columns = ['Unnamed: 0','Host_greets_you'],inplace = True)
print(X.shape)
X.head()

(22127, 15)

,price,cleaning_fee,accommodates,minimum_nights,bedrooms,bathrooms,neighbourhood_group_cleansed,room_type,description,extra_people,Laptop_friendly_workspace,TV,Wifi,Family_kid_friendly,Smoking_allowed
0,60.0,30.0,3,4,1.0,1.0,Mitte,Entire home/apt,Great location! 30 of 75 sq meters. This wood...,28.0,True,True,True,True,False
1,17.0,0.0,2,2,1.0,1.0,Pankow,Private room,In the summertime we are spending most of our ...,0.0,True,False,True,False,False
2,90.0,50.0,4,62,1.0,1.0,Pankow,Entire home/apt,This beautiful first floor apartment is situa...,20.0,True,False,True,True,False
3,26.0,30.0,2,5,1.0,1.0,Tempelhof - Schöneberg,Private room,First of all: I prefer short-notice bookings. ...,18.0,True,False,True,False,False
4,42.0,0.0,2,2,1.0,1.0,Pankow,Private room,Cozy and large room in the beautiful district ...,24.0,True,False,True,True,False

In [43]:
# explore the clean data (describe and profile report)
#X.profile_report()

In [44]:
X.drop(X[X.minimum_nights > 365].index,inplace = True)

In [45]:
# encoding Neighborhoods as values 1-12
# Mitte = 1
# Friedrichshain-Kreuzberg = 2
# Pankow = 3                      
# Neukölln = 4                
# Charlottenburg-Wilm. = 5
# Tempelhof - Schöneberg = 6
# Lichtenberg = 7
# Treptow - Köpenick = 8
# Steglitz - Zehlendorf = 9
# Reinickendorf = 10
# Marzahn - Hellersdorf = 11
# Spandau = 12
X.replace({'Mitte':1,'Friedrichshain-Kreuzberg':2,'Pankow':3,'Neukölln':4,'Charlottenburg-Wilm.':5,'Tempelhof - Schöneberg':6,'Lichtenberg':7,'Treptow - Köpenick':8,'Steglitz - Zehlendorf':9,'Reinickendorf':10,'Marzahn - Hellersdorf':11,'Spandau':12},inplace = True)

# encoding room types as values 
# 15 Entire home/apt
# 14 Private room
# 36 shared room
X.replace({'Entire home/apt':15,'Private room':14,'Shared room':36},inplace = True)

# setting true and false values to 1 or 0
X.replace({True:1,False:0},inplace = True)

In [46]:
X.head()

,price,cleaning_fee,accommodates,minimum_nights,bedrooms,bathrooms,neighbourhood_group_cleansed,room_type,description,extra_people,Laptop_friendly_workspace,TV,Wifi,Family_kid_friendly,Smoking_allowed
0,60.0,30.0,3,4,1.0,1.0,1,15,Great location! 30 of 75 sq meters. This wood...,28.0,1,1,1,1,0
1,17.0,0.0,2,2,1.0,1.0,3,14,In the summertime we are spending most of our ...,0.0,1,0,1,0,0
2,90.0,50.0,4,62,1.0,1.0,3,15,This beautiful first floor apartment is situa...,20.0,1,0,1,1,0
3,26.0,30.0,2,5,1.0,1.0,6,14,First of all: I prefer short-notice bookings. ...,18.0,1,0,1,0,0
4,42.0,0.0,2,2,1.0,1.0,3,14,Cozy and large room in the beautiful district ...,24.0,1,0,1,1,0

In [47]:
y = X['price']
X.drop(columns = 'price',inplace = True)
text = X.copy()
X.drop(columns = 'description',inplace = True)

In [48]:
X

,cleaning_fee,accommodates,minimum_nights,bedrooms,bathrooms,neighbourhood_group_cleansed,room_type,extra_people,Laptop_friendly_workspace,TV,Wifi,Family_kid_friendly,Smoking_allowed
0,30.0,3,4,1.0,1.0,1,15,28.0,1,1,1,1,0
1,0.0,2,2,1.0,1.0,3,14,0.0,1,0,1,0,0
2,50.0,4,62,1.0,1.0,3,15,20.0,1,0,1,1,0
3,30.0,2,5,1.0,1.0,6,14,18.0,1,0,1,0,0
4,0.0,2,2,1.0,1.0,3,14,24.0,1,0,1,1,0
5,80.0,7,6,4.0,2.5,3,15,10.0,0,1,1,1,0
6,0.0,2,90,0.0,1.0,3,15,0.0,0,1,1,0,0
7,0.0,2,30,1.0,1.0,2,14,13.0,0,1,1,0,1
8,50.0,5,60,1.0,1.0,2,15,20.0,1,1,1,1,0
9,18.0,2,3,1.0,1.0,3,14,26.0,1,1,1,0,0
10,49.0,4,3,2.0,1.0,3,15,24.0,0,1,1,1,0
11,40.0,4,60,1.0,1.0,2,15,18.0,1,1,1,1,0
12,50.0,4,3,2.0,1.0,2,15,25.0,1,1,1,1,0
13,40.0,5,3,1.0,1.0,1,15,35.0,1,1,1,1,0
14,50.0,4,60,1.0,1.0,2,15,0.0,1,1,1,1,0
15,35.0,4,3,2.0,2.5,3,15,5.0,0,1,1,0,1
16,55.0,4,4,2.0,2.5,3,15,5.0,0,1,1,1,0
17,50.0,8,3,2.0,2.0,3,15,40.0,1,1,1,1,0
18,0.0,2,90,0.0,1.0,3,15,0.0,0,1,1,0,0
19,50.0,6,5,2.0,1.0,2,15,20.0,0,1,1,1,0
20,80.0,4,60,2.0,1.0,3,15,0.0,0,1,1,1,0
21,40.0,8,4,2.0,1.0,3,15,20.0,1,1,1,1,0
22,15.0,1,1,1.0,1.0,3,14,15.0,0,1,1,0,0
23,20.0,4,3,1.0,1.0,1,15,8.0,1,0,1,1,0
24,50.0,2,60,1.0,1.0,3,15,10.0,0,1,1,0,0
25,5.0,1,1,1.0,0.0,5,14,20.0,1,0,0,0,0
26,0.0,1,5,1.0,1.0,6,14,15.0,1,1,1,1,1
27,30.0,2,2,1.0,1.0,1,15,12.0,1,0,1,1,0
28,20.0,3,1,1.0,1.5,2,14,19.0,0,1,1,1,1
29,0.0,2,84,1.0,1.0,3,15,0.0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22097,0.0,4,10,2.0,1.0,5,15,0.0,1,1,1,0,0
22098,0.0,2,1,1.0,1.0,2,14,0.0,0,0,1,0,0
22099,0.0,2,1,1.0,1.0,9,14,0.0,0,0,1,0,0
22100,0.0,2,2,1.0,1.0,1,14,0.0,1,0,1,0,0
22101,30.0,2,2,1.0,1.0,5,14,36.0,0,0,1,0,1
22102,30.0,2,7,0.0,1.0,5,15,0.0,1,1,1,0,0
22103,25.0,2,7,1.0,0.5,2,14,10.0,0,0,1,1,0
22104,0.0,2,1,1.0,1.0,9,15,0.0,0,1,1,0,0
22105,0.0,2,1,0.0,1.0,4,15,0.0,1,0,1,0,0
22106,0.0,2,1,1.0,1.0,6,14,0.0,1,0,1,0,0
22107,60.0,4,1,2.0,3.0,4,15,15.0,1,1,1,0,0
22108,0.0,2,5,1.0,1.0,1,15,0.0,0,0,1,0,0
22109,299.0,2,180,0.0,1.0,7,15,0.0,1,1,1,0,0
22110,0.0,4,21,2.0,1.0,3,15,0.0,0,0,1,0,0
22111,0.0,2,60,1.0,1.0,3,14,0.0,1,0,1,0,0
22112,0.0,1,60,1.0,1.0,3,14,0.0,1,0,1,0,0
22113,0.0,4,10,2.0,1.0,3,15,0.0,1,1,1,0,0
22114,0.0,1,60,1.0,1.0,3,14,0.0,1,0,1,0,0
22115,0.0,2,1,0.0,1.0,2,14,0.0,1,0,1,0,1
22116,0.0,2,1,1.0,1.0,2,15,0.0,0,0,1,0,0
22117,0.0,2,2,1.0,1.0,4,14,10.0,1,0,1,0,1
22118,0.0,1,2,1.0,1.0,4,36,0.0,1,0,1,0,0
22119,20.0,4,2,2.0,1.0,2,15,0.0,1,0,1,0,0
22120,10.0,4,1,1.0,1.0,2,14,10.0,1,0,1,0,0
22121,100.0,4,28,2.0,1.0,6,15,0.0,1,0,1,0,0
22122,0.0,2,2,1.0,1.0,1,15,0.0,1,0,1,0,1
22123,0.0,6,1,1.0,1.0,6,36,10.0,1,1,1,0,0
22124,0.0,2,3,0.0,1.0,3,15,0.0,0,0,1,0,0
22125,0.0,2,1,1.0,1.0,1,14,0.0,1,0,1,1,0
22126,0.0,2,5,1.0,1.0,4,14,0.0,1,0,1,0,0

In [69]:
y

0         60.0
1         17.0
2         90.0
3         26.0
4         42.0
5        180.0
6         70.0
7        120.0
8         90.0
9         45.0
10       129.0
11        70.0
12        98.0
13       160.0
14        65.0
15        90.0
16        90.0
17       197.0
18        70.0
19        90.0
20       130.0
21       100.0
22        44.0
23        62.0
24        55.0
25        40.0
26        25.0
27        52.0
28        39.0
29        80.0
         ...
22097     80.0
22098     30.0
22099     22.0
22100     45.0
22101     45.0
22102    150.0
22103     30.0
22104     30.0
22105    100.0
22106     35.0
22107    105.0
22108     95.0
22109     70.0
22110     30.0
22111     26.0
22112     21.0
22113    150.0
22114     23.0
22115     60.0
22116     30.0
22117     19.0
22118     29.0
22119     90.0
22120     39.0
22121    100.0
22122     60.0
22123     20.0
22124     85.0
22125     99.0
22126     45.0
Name: price, Length: 22119, dtype: float64

In [50]:
# split into train and test data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [51]:
X_train = X_train.values
y_train = y_train.values
X_test = X_test.values
y_test = y_test.values

In [52]:
# normalize data
# run only once
#X_train = X_train / np.amax(X_train, axis=0)
#X_test = X_test / np.amax(X_test, axis=0)
#y_train = y_train / 100
#y_test = y_test / 100

In [53]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(17695, 13)
(4424, 13)
(17695,)
(4424,)

In [65]:
#set up model architecture
def create_model():
    model = Sequential()
    model.add(Dense(18,input_shape = (X_train.shape[1],),activation = 'relu'))
    model.add(Dense(12,activation = 'relu'))
    model.add(Dense(4,activation = 'relu'))
    model.add(Dense(1))
    model.compile(loss = 'mae',optimizer = 'adam')
    
    return model
model = create_model()
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 18)                252
_________________________________________________________________
dense_21 (Dense)             (None, 12)                228
_________________________________________________________________
dense_22 (Dense)             (None, 4)                 52
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 5
=================================================================
Total params: 537
Trainable params: 537
Non-trainable params: 0
_________________________________________________________________

In [66]:
# fit model
model.fit(X_train,y_train,
         epochs = 10,
         batch_size = 24,
         validation_data = (X_test,y_test),
         verbose = True)

Train on 17695 samples, validate on 4424 samples
Epoch 1/10
17695/17695 [==============================] - 4s 219us/sample - loss: 26.0125 - val_loss: 20.4322
Epoch 2/10
17695/17695 [==============================] - 3s 191us/sample - loss: 19.4401 - val_loss: 18.8649
Epoch 3/10
17695/17695 [==============================] - 4s 233us/sample - loss: 18.5072 - val_loss: 18.5629
Epoch 4/10
17695/17695 [==============================] - 4s 250us/sample - loss: 18.2557 - val_loss: 18.7270
Epoch 5/10
17695/17695 [==============================] - 4s 201us/sample - loss: 18.1393 - val_loss: 18.3224
Epoch 6/10
17695/17695 [==============================] - 5s 275us/sample - loss: 18.0859 - val_loss: 18.3020
Epoch 7/10
17695/17695 [==============================] - 3s 197us/sample - loss: 18.0285 - val_loss: 18.1379
Epoch 8/10
17695/17695 [==============================] - 4s 199us/sample - loss: 17.9824 - val_loss: 18.0895
Epoch 9/10
17695/17695 [==============================] - 3s 146us/sample - loss: 17.9439 - val_loss: 18.0318
Epoch 10/10
17695/17695 [==============================] - 3s 167us/sample - loss: 17.9085 - val_loss: 18.0673

In [67]:
# evaluate model
score = model.evaluate(X_train,y_train,verbose = False)
score

17.830230912625975

In [68]:
# test predictions
z = [30.0,3,4,1,1,1,15,28,1,1,1,1,0]
pred = model.predict(X_test)
pred[:100]

array([[ 43.308937],
       [ 45.28944 ],
       [ 66.40871 ],
       [ 40.626293],
       [ 30.447866],
       [ 85.63169 ],
       [ 31.418133],
       [ 44.683754],
       [ 39.08667 ],
       [ 31.806715],
       [ 61.021862],
       [ 22.791552],
       [114.43663 ],
       [ 46.58201 ],
       [ 32.870667],
       [ 58.44442 ],
       [ 46.90021 ],
       [ 45.49318 ],
       [ 41.69543 ],
       [ 48.952038],
       [ 34.696587],
       [ 36.313313],
       [ 40.70216 ],
       [ 38.7181  ],
       [ 73.126396],
       [ 86.70341 ],
       [105.413345],
       [ 83.042595],
       [ 29.72724 ],
       [ 26.65969 ],
       [ 33.118355],
       [ 43.665863],
       [117.344635],
       [ 70.52724 ],
       [ 32.30662 ],
       [ 32.366276],
       [ 36.941353],
       [ 33.827156],
       [ 46.230682],
       [ 32.928154],
       [101.68109 ],
       [ 94.62246 ],
       [114.380936],
       [ 72.084595],
       [ 76.85349 ],
       [123.31213 ],
       [ 66.39757 ],
       [ 30.915861],
       [ 37.99014 ],
       [135.37573 ],
       [ 80.150604],
       [121.701904],
       [ 24.327908],
       [ 74.73876 ],
       [ 55.61035 ],
       [ 41.283897],
       [ 21.776323],
       [ 46.071594],
       [ 43.14652 ],
       [ 65.911644],
       [ 70.46552 ],
       [ 51.746456],
       [ 38.23709 ],
       [ 40.697063],
       [ 36.343224],
       [ 38.07831 ],
       [ 46.777756],
       [ 71.97653 ],
       [ 33.29162 ],
       [124.248604],
       [ 27.510973],
       [ 34.694553],
       [ 61.327988],
       [ 40.644398],
       [ 41.320267],
       [ 38.97491 ],
       [ 68.74802 ],
       [ 54.510117],
       [ 58.057957],
       [ 45.13266 ],
       [ 83.50782 ],
       [ 58.694218],
       [ 35.178555],
       [ 49.757263],
       [ 29.446316],
       [ 39.313305],
       [ 64.42169 ],
       [ 75.14037 ],
       [ 69.022484],
       [ 31.236519],
       [ 44.440716],
       [ 31.318256],
       [ 39.48285 ],
       [ 38.686485],
       [ 25.08951 ],
       [ 54.64473 ],
       [ 85.07923 ],
       [139.25764 ],
       [ 67.25801 ],
       [ 38.598427]], dtype=float32)