In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import spacy
nlp = spacy.load("en_core_web_md")

In [59]:
# Load data into X and y
X = pd.read_csv('Airbnb.csv')
y = pd.read_csv('Airbnb_target.csv')
print(f"Does x.shape and y.shape match?\n{X.shape[0] == y.shape[0]}: X = {X.shape}, y = {y.shape}")

Does x.shape and y.shape match?
True: X = (299626, 8), y = (299626, 1)

In [60]:
# load the descrtiption into a text dataframe
text = X['description']
X.drop(columns = 'description',inplace = True)

In [61]:
# check to make sure all the data looks correct
X.head()

,room_type,neighborhood,min_nights,space_for,bathrooms,max_nights,bedrooms
0,15,3,5,2,1.0,15,1.0
1,15,6,1,3,1.0,365,0.0
2,14,2,3,2,1.0,1125,0.0
3,15,2,1,4,1.0,1125,1.0
4,15,1,1,2,1.0,1125,0.0

In [62]:
y.head()

   price
0   49.0
1   50.0
2   60.0
3  119.0
4   80.0

In [63]:
text.head()

0    Apartment in charming Prenzlauer Berg, on the ...
1    Das Einzimmer-Studio-Appartement Kalckreuthstr...
2    The flat is located in the city center in the ...
3    What makes this listing extra special is there...
4    Modern furnished Loft in the heart of Berlin M...
Name: description, dtype: object

In [65]:
X = X.values
X[:2]

array([[ 15.,   3.,   5.,   2.,   1.,  15.,   1.],
       [ 15.,   6.,   1.,   3.,   1., 365.,   0.]])

In [66]:
x = X /np.amax(X,axis = 0)
x[0]

array([4.16666667e-01, 2.50000000e-01, 1.00000000e-03, 1.25000000e-01,
       1.17647059e-01, 1.50000000e-08, 8.33333333e-02])

In [67]:
y = y.values
y[:2]

array([[49.],
       [50.]])

In [71]:
#y = y / 100
y[8]

array([0.35])

In [77]:
# MLP architecture
def create_model():
    model = Sequential()
    model.add(Dense(4,input_dim = 7,activation = 'relu'))
    model.add(Dense(4,activation = 'sigmoid'))
    model.add(Dense(3,activation = 'sigmoid'))
    model.add(Dense(1,activation = 'sigmoid'))
    model.compile(loss = 'mse',optimizer = 'adam', metrics = ['accuracy'])
    
    return model
model = create_model()
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 4)                 32
_________________________________________________________________
dense_17 (Dense)             (None, 4)                 20
_________________________________________________________________
dense_18 (Dense)             (None, 3)                 15
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 4
=================================================================
Total params: 71
Trainable params: 71
Non-trainable params: 0
_________________________________________________________________

In [78]:
%%time
model.fit(x,y,epochs = 5, batch_size = 50,verbose = False)

Wall time: 51.1 s

In [79]:
model.evaluate(x,y)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

 - 9s 31us/sample - loss: 0.4925 - accuracy: 0.0164

[0.9019564542649524, 0.016370408]